/* ⭐️ PROSE MIRROR CONTAINER */
@import url("https://rsms.me/inter/inter.css");

.ProseMirror {
  font-family: "Inter", sans-serif;
  /* background-color: rgb(227, 227, 227); */

  margin: auto;
  margin-top: 32px;
  width: 720px;
  color: #2E2E2E;
  text-align: left;

  /* padding: 16px 16px; */
  /* padding-bottom: 400px; */
}

.ProseMirror .is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: #BFBFBF;
  pointer-events: none;
  height: 0;
}

.ProseMirror:focus {
  outline-style: none;
}

.my-custom-paragraph{
 color: #BFBFBF; 
}

/* ⭐️ CHILDREN */
.editor-child {
  padding: 4px;
}
.editor-child:hover {
  /* background-color: rgb(248, 248, 248); */
  cursor: text;
}
.editor-image {
  width: 80%;
  margin-left: 10%;
}
.editor-image:hover {
  cursor: grab;
  text-align: center;
}

/* ⭐️ BUTTON */
button {
  font-size: 16px;
  padding: 4px 6px;
  margin: 2px;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
}

button:focus {
  outline-style: none;
  background-color: black;
  color: white;
}

/* Drag Handle*/


.mention {
  border: 1px solid #000;
  border-radius: 0.4rem;
  padding: 0.1rem 0.3rem;
  box-decoration-break: clone;
  
}

.items {
  padding: 0.2rem;
  position: relative;
  border-radius: 0.5rem;
  background: #fffffff9;
  color: #2E2E2E;
  overflow: hidden;
  font-size: 0.9rem;
  font-weight: 600;
  box-shadow: 0 0 0 .5px rgba(0, 0, 0, 0.05), 0px 10px 20px rgba(0, 0, 0, 0.1);
}


.item {
  display: block;
  margin: 0;
  width: 200px;
  text-align: left;
  font-size: small;
  background: transparent;
  border-radius: 0.4rem;
  border: 1px solid transparent;
  padding: 0.3rem 0.4rem;
}

.item:hover {

  color: #2E2E2E;
  border-color: #fafafa;
  background-color: #fafafa;
}


.item.is-selected {
  border-color: #eaeaea;
  background-color: #eaeaea;
}

.iframe-wrapper.ProseMirror-selectednode {
  outline: 3px solid #68cef8;
}

.thumbnail-image {
  border-radius: 3px;
  max-height: 350px;
  width: 720px;
  object-fit: cover;
}

.editor-img {

  width: 720px;
  max-height: 400px;
  object-fit: cover;
  background: #f1f1f18f;
  border-radius: 3px;
  left:10px;

}

.thumbnail {

  border-color: #fff;
  color: #2E2E2E;
  
}

.thumbnail:focus{
  background: white;
}

.thumbnail:hover{
  background: lightgrey;
}

.embedThumb {
  position: relative;
  align-items: flex-start;
}

.GeneralEmbed {
  width:300px;
  box-shadow: 0 0 0 .5px rgba(0, 0, 0, 0.05), 0px 10px 20px rgba(0, 0, 0, 0.1);

}

.insertImg {
  width: 693px;
  height: 35px;
  border: transparent;
  background-color: lightgrey;
  font-size: small;
  font-weight: 600;
}